<flynt-component name="BlockShortcode" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }} data-bg="{{ options.backgroundColor ?: 'white' }}">
  <div class="container">
    <div class="content" data-size="{{ options.size }}" data-align="{{ options.align }}" data-text-align="{{ options.textAlign }}">
      {% if contentAbove %}
        <div class="contentAbove">
          {{ contentAbove|e('wp_kses_post') }}
        </div>
      {% endif %}
      {% if shortcode %}
        <div class="shortcodeOutput">
          {{ fn('do_shortcode', shortcode) }}
        </div>
      {% endif %}
      {% if contentBelow %}
        <div class="contentBelow">
          {{ contentBelow|e('wp_kses_post') }}
        </div>
      {% endif %}
    </div>
  </div>
</flynt-component>
